/*
Selectores CSS:
elemento {}
.clase {}
#id {}
elemento:pseudoclase {}
elemento[atributo]

Operadores CSS:
a,b → a OR b
a b → All 'a' descendant of a 'b'
a>b → All 'a' son of a 'b'

Propiedades CSS:
- font
- color
- background
- padding
- margin
- border
*/

body {
    background-color: rgb(0, 0, 0);
    background-image: url(./media/profpic.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    background-attachment: fixed;
    padding-top: 60px;
    padding-bottom: 20px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

header,
footer {
    background-color: rgb(95, 162, 250);
}

div {
    display: flex;
    justify-content: center;
}

main>div {
    gap: 1rem;
    align-items: flex-start;
}

section {
    display: flex;
    flex-direction: column;

}

#profile {
    position: sticky;
    top: 80px;
    flex: 0 0 30%;
    align-items: center;
    padding-top: 10px;
    min-width: 250px;
    max-width: 20%;
}

#info {
    flex: 1;
}

#profile>*,
#info>* {
    padding: 1px;
    background-color: rgba(216, 205, 205, 0.8);
}

#contacts {
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-flex;
    flex-direction: row;
    gap: 2rem;
}

a>img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

a[href]:hover {
    color: yellow;
}

#pfp {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}